body {
  color: black;
  background-color: rgb(34, 40, 49);
}
h1 {
  background-color: rgb(253, 138, 107);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid black;
}
h3 {
  background-color: rgb(143, 221, 223);
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
}

#h3 {
  width: fit-content;
}
@media (min-width: 319px) and (max-width: 480px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 1601px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}
