body {
  color: rgb(0, 0, 0);
  background-color: rgb(159, 161, 255);
}
h1 {
  color: black;
  text-align: center;
  background-color: rgb(234, 126, 90);
  border-radius: 8px;
  border: 2px solid black;
}
img {
  color: black;
  display: block;
  margin: auto;
  padding: 2px;
  background-color: black;
  border: 2px solid black;
}
#Summary {
  color: black;
  padding: 1px 30px 15px 30px;
  background-color: rgb(119, 217, 217);
  border-radius: 8px;
  border: 2px solid black;
  margin-right: 30px;
}
#Education {
  color: black;
  background-color: rgb(241, 126, 126);
  padding: 1px 30px 15px 30px;
  border-radius: 8px;
  border: 2px solid black;
  margin-right: 30px;
}
#Coding {
  color: black;
  background-color: rgb(239, 202, 140);
  padding: 1px 30px 15px 30px;
  border-radius: 8px;
  border: 2px solid black;
  margin-right: 30px;
}
#Skills {
  color: black;
  background-color: rgb(245, 88, 161);
  padding: 1px 30px 15px 30px;
  border-radius: 8px;
  border: 2px solid black;
  margin-right: 30px;
}
#Links {
  color: black;
  background-color: rgb(224, 174, 208);
  padding: 5px 20px;
  border-radius: 8px;
  border: 2px solid black;
  margin-left: 40px;
  margin-right: 30px;
}
#Footer {
  color: black;
  color: black;
  padding: 1px;
}
